*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    margin: 0px 30px;
    font-family: 'Work Sans', sans-serif;
}
.nav-area {
    width: 100%;
    height: 80vh;
    background: url('images/banner/6864937_23324.jpg') no-repeat center center/ cover;

}
.nav-content {
    color: rgb(146, 243, 9);
    text-align: right;
    position: relative;
    width: 50%;
    top: 250px;
    left: 433px;
}
.nav-content .banner-hadding{
    font-size: 40px;
    margin-bottom: 15px;
}
.nav-content .banner-paragraph{
    margin-bottom: 25px;
}
.nav-content .btn {
    padding: 10px 30px;
    background: rgb(241, 230, 26);
    border: 0;
    border-radius: 5px;
}

.identiy-area {
    display: flex;
}
.identiy-area {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 100px;
    gap: 100px;
}
.identiy-img{
    background: rgba(140, 135, 1, 0.251);
    border: 0;
    border-radius: 50%;
}
 .indentiy-hadding {
    font-size: 30px;
    margin-bottom: 20px;
}
.indentiy-paragraph {
    margin-bottom: 30px;
}
.indentiy-manu > p {
    margin-top: 5px;
}

.indentiy-manu .fa-sharp{
    color: rgb(4, 128, 0);
    margin-right: 5px;
}
.plan-heading {
    text-align: center;
    margin: 15px 0px;
}
.plan-card-contener {
    padding: 15px 30px;
}
.plan-card {
    display: flex;
    justify-content: center;
    align-items: center;

}
.plan-card .card {
    margin: 30px;
    text-align: center;
}
.plan-card .card img {
    margin-bottom: 20px;
}
.plan-card .card p {
    margin-top: 10px;
    color: #737272;
}
.gradinent-contener {
    margin: 60px 50px;
}
.gradient-area {
    width: 100%;
    height: 200px;
    background:linear-gradient(to top right, rgba(47, 0, 255, 0.662) , rgba(143, 126, 149, 0.484)) ,url('images/watch.png') no-repeat center center / 100%;
    border-radius: 10px;
    padding: 30px;
}
.gradient-area h1 {
    font-size: 30px;
    margin-top: 10px;
    color: #fff;
}
.btn {
    padding: 15px 30px;
    background: rgb(241, 230, 26);
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
    color: rgb(235, 8, 8);
    font-size: 15px;
}
.footer-area {
    width: 100%;
    height: 300px;
    background: black;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 200px;
    gap: 200px;
}
.footer-content-heading {
    margin-bottom: 20px;
}
.footer-content p {
    margin-bottom: 10px;
}
.footer-content .link-content {
    margin-top: 15px;
}
.footer-content .link-content .fa-brands {
    background: rgb(255, 255, 255);
    font-size: 40px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}
.fa-twitter {
    color: green;
}
.fa-github {
    color: black;
}
.fa-google {
    color: red;
}
.footer-login .footer-login-heading {
    font-size: 30px;
    margin-bottom: 20px;
}
.footer-login #email {
    padding: 20px 30px;
    background: black;
    border: 1px solid #fff;
    border-radius: 5px;
}
::placeholder {
    color: #fff;
}
